// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

$turquoiseLight: #DAFAF5;
$turquoiseMedium: #C8F7F0;
$turquoiseDark: #90EFE1;

$purpleLight: #BEA2E1;
$purpleDark: #951DC3;

.x-layout-card-item {
  background-color: white;
}

.title-bar {
  background: url('/resources/images/superme.png') no-repeat center;
  background-color: white;
  width: 100%;

  &.x-docked-top {
    border: none;
  }
}

div.x-button {
  background-color: purple;
}

.post {
  background-color: $turquoiseLight;
  .msg-ctr {
    padding: 5px;
    .name {
      color: $purpleDark;
      font-weight: bold;
    }
    .time-ago {
      font-size: 9px;
      color: grey;
      line-height: 9px;
    }
    .message {
      padding: 7px 0 2px 0;
    }
  }
  .control-bar {
    background-color: lighten($turquoiseLight, 3%);
    padding: 5px;
    span {
      font-size: 12px;
      padding-right: 10px;
      color: $purpleDark;
      font-weight: bold;
    }
    .right-ctrl-ctr {
      float: right;
      img {
        height: 20px;
      }
    }
  }
}

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');